@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;
footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    nav{
        .redes{
            display: flex;
            list-style: none;
            gap: 20px;
            li{
                a{
                    .rs{
                        height: 6vh;
                        width: auto;
                    }
                    .wa{
                        position: fixed;
                        bottom: 25px;
                        right: 25px;
                    }
                }
            }
        }
    }
    @include m.tablet{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    @include m.mobile{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}