@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Audiowide;
  color: whitesmoke;
}

body {
  background-color: #2b3035;
}
body h1, body h2 {
  color: navy;
}

.main-cont .forms div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header h1, header h2 {
  color: navy;
}
header .logo {
  height: 8vh;
  width: auto;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
footer nav .redes {
  display: flex;
  list-style: none;
  gap: 20px;
}
footer nav .redes li a .rs {
  height: 6vh;
  width: auto;
}
footer nav .redes li a .wa {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
@media (min-width: 526px) and (max-width: 967px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 300px) and (max-width: 525px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.home {
  padding: 50px;
  text-align: center;
}
.home .home-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}
.home .home-flex p {
  width: 45vw;
}
.home .home-flex .home-img {
  height: auto;
  width: 45vw;
}
@media (min-width: 526px) and (max-width: 967px) {
  .home .home-flex {
    flex-direction: column;
  }
  .home .home-flex p {
    width: auto;
  }
  .home .home-flex .home-img {
    width: 75vw;
  }
}
@media (min-width: 300px) and (max-width: 525px) {
  .home .home-flex {
    flex-direction: column;
  }
  .home .home-flex p {
    width: auto;
  }
  .home .home-flex .home-img {
    width: 75vw;
  }
}

.main-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.main-cont .cont-suc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.main-cont .cont-suc article {
  display: flex;
  gap: 100px;
}
.main-cont .cont-suc article iframe {
  width: 40vw;
}
.main-cont .forms {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.main-cont .forms input, .main-cont .forms textarea {
  width: 50vw;
}
.main-cont .forms div {
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.main-cont .forms div input {
  width: 20vw;
  background-color: transparent;
  border-radius: 20px;
}
@media (min-width: 526px) and (max-width: 967px) {
  .main-cont .cont-suc article {
    flex-direction: column;
  }
  .main-cont .cont-suc article iframe {
    width: 80vw;
  }
}
@media (min-width: 300px) and (max-width: 525px) {
  .main-cont .cont-suc article {
    flex-direction: column;
  }
  .main-cont .cont-suc article iframe {
    width: 80vw;
  }
  .main-cont .forms input, .main-cont .forms textarea {
    width: 75vw;
  }
  .main-cont .forms div {
    flex-direction: column;
  }
  .main-cont .forms div input {
    width: 50vw;
  }
}

.prod section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.prod section .prod-img {
  height: auto;
  width: 60vw;
}

/*# sourceMappingURL=style.css.map */
