@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Audiowide;
    color: whitesmoke;
}
body{
    background-color: #2b3035;
}
h1, h2{
    color: navy;
}
/* HEADER */
.logo{
    height: 8vh;
    width: auto;
}
/* FOOTER */
footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.redes{
    display: flex;
    list-style: none;
    gap: 20px;
}
.rs{
    height: 6vh;
    width: auto;
}
.wa{
    position: fixed;
    bottom: 25px;
    right: 25px;
}
/* HOME */
.home{
    padding: 50px;
    text-align: center;
}
.home-flex{
    display: flex;
    align-items: center;
    gap: 20px;
}
.home-img{
    height: auto;
    width: 45vw;
}
.home-flex p{
    width: 45vw;
}
/* PRODUCTOS */
.prod section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.prod-img{
    height: auto;
    width: 60vw;
}
/* CONTACTO */
.main-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cont-suc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cont-suc article{
    display: flex;
    gap: 100px;
}
.cont-suc iframe{
    width: 40vw;
}
.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.forms input, .forms textarea{
    width: 50vw;
}
.forms div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.forms div input{
    width: 20vw;
    background-color: transparent;
    border-radius: 20px;
}

/* NOTEBOOK */


/* TABLET */
@media (min-width: 526px) and (max-width: 967px){
    /* FOOTER */
    footer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    /* HOME */
    .home-flex{
        flex-direction: column;
    }
    .home-flex p{
        width: auto;
    }
    .home-img{
        width: 75vw;
    }
    /* CONTACTO */
    .cont-suc article{
        flex-direction: column;
    }
    .cont-suc article iframe{
        width: 80vw;
    }
}

/* MOBILE */
@media (min-width: 300px) and (max-width: 525px) {
    /* FOOTER */
    footer{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    /* HOME */
    .home-flex{
        flex-direction: column;
    }
    .home-flex p{
        width: auto;
    }
    .home-img{
        width: 75vw;
    }
    /* PRODUCTOS */

    /* CONTACTO */
    .cont-suc article{
        flex-direction: column;
    }
    .cont-suc article iframe{
        width: 80vw;
    }
    .forms input, .forms textarea{
        width: 75vw;
    }
    .forms div{
        flex-direction: column;
    }
    .forms div input{
        width: 50vw;
    }
}